<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deezer Angular</title>
</head>

<body>
    <nav>
        <img class="deezer-nav" src="{{imagePath}}" alt="Logo da deezer">

        <div class="search">
            <label for="musica"><img class="submit" src="{{imagePathSearchButton}}" alt=""></label>
            <input type="text" class="musica-search" placeholder="Qual a música que te move?" required>
        </div>
    </nav>

    <main>
        <div class="slogan">
            <img class="deezer-main" src="{{imagePath}}" alt="Logo da deezer">
            <h1>O poder da música</h1>
        </div>

        <div class="container-musicas">
            <div class="musicas"> <img src="{{imagePath}}" alt="">
                <h2>Bijuteria</h2>
            </div>

            <div class="musicas"> <img src="{{imagePath}}" alt="">
                <h2>When i was your man</h2>
            </div>

            <div class="musicas"> <img src="{{imagePath}}" alt="">
                <h2>Um novo amor</h2>
            </div>

            <div class="musicas"> <img src="{{imagePath}}" alt="">
                <h2>As it was</h2>
            </div>

            <div class="musicas"> <img src="{{imagePath}}" alt="">
                <h2>Hello</h2>
            </div>
        </div>
    </main>

</body>
</html>